.Calculator {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 650px) {
    .Calculator {
        width: 370px;
        height: 650px;
        -webkit-box-shadow: 0px 0px 69px -16px rgba(0,0,0,0.73);
        -moz-box-shadow: 0px 0px 69px -16px rgba(0,0,0,0.73);
        box-shadow: 0px 0px 69px -16px rgba(0,0,0,0.73);
    }
  }